<nav class="flex justify-between w-full bg-primary p-4">
  <a href="/"
    ><a
      class="md:ml-16 font-semibold text-xl text-white"
      [routerLink]="['/']"
      >{{ title }}</a
    ></a
  >
  <div class="md:items-center md:w-auto flex">
    <div class="md:flex hidden"></div>
    <div class="md:flex text-sm md:mr-16" v-else>
      <a
        class="text-white font-semibold text-xl"
        [routerLink]="['/dashboard/add']"
        >Añadir Post
      </a>
    </div>
    <div class="md:flex text-sm md:mr-16" v-else>
      <a
        class="text-white font-semibold text-xl"
        [routerLink]="['/dashboard/general']"
        >Opciones generales
      </a>
    </div>
    <div class="md:flex text-sm " v-else>
      <a
        class="text-white font-semibold text-xl"
        [routerLink]="['/auth']"
        (click)="this.logout()"
        >Cerrar sesion
      </a>
    </div>
  </div>
</nav>
